# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

## Dear ImGui artifacts
imgui.ini

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

## Visual Studio artifacts
.vs
ipch
*.opensdf
*.log
*.pdb
*.ilk
*.user
*.sdf
*.suo
*.VC.db
*.VC.VC.opendb

# User-specific files
*.suo
*.user
*.sln.docstates
*.sln
*.vcxproj*

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
x64/
build/
imgui/
bld/
[Bb]in/
[Oo]bj/
*.debug
*.dSYM

# Visual Studio cache/options directory
.vs/
